<div class="results">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="results__title">Чему мы&nbsp;научим</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4 results__item">
        <img src="img/icon_4.png" alt="Решать реальные задачи вашего бизнеса" />

        <p class="results__text">
          Решать реальные задачи вашего бизнеса
        </p>
      </div>

      <div class="col-4 results__item">
        <img src="img/icon_5.png" alt="Экономить деньги при ведении проектов" />

        <p class="results__text">
          Экономить деньги при ведении проектов
        </p>
      </div>

      <div class="col-4 results__item">
        <img src="img/icon_6.png" alt="Выбирать лучших подрядчиков и эффективно ими управлять" />

        <p class="results__text">
          Выбирать лучших подрядчиков и&nbsp;эффективно ими управлять
        </p>
      </div>
    </div>
  </div>
</div>
