body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

h1 {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.85);
}

h2 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 64px;
  /* or 200% */

  color: rgba(0, 0, 0, 0.85);
}

h3 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  color: rgba(0, 0, 0, 0.85);
}

button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.1em;

  color: rgba(0, 0, 0, 0.85);
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #000000;
}

a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */

  letter-spacing: 0.1em;

  color: rgba($color: #ffffff, $alpha: 0.85);

  &:hover {
    color: rgba($color: #ffffff, $alpha: 0.85);
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.85);
  }
}

#sprite {
  display: none; 
}
