<div class="promo">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-11 promo__inner">
        <div class="row">
          <div class="col-7 ">
            <h1 class="promo__title">
              КОРПОРАТИВНОЕ ОБУЧЕНИЕ:
            </h1>
            <p class="promo__subtitle">
              DIGITAL-ИНСТРУМЕНТЫ
              <br />ДЛЯ ВАШЕГО БИЗНЕСА
            </p>
            <p class="promo__desc">
              Повышение квалификации сотрудников вашей компании в&nbsp;сферах веб-разработки,
              веб-дизайна, интернет-маркетинга и&nbsp;проджект-менеджмента
            </p>
            <a href="#form" class="btn promo__btn">
              ОСТАВИТЬ ЗАЯВКУ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
