<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="faq__title">
          Часто задаваемые вопросы
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <ul class="faq__list">
          <li class="faq__item">
            <button class="faq__item-btn">Из&nbsp;чего складывается стоимость обучения?</button>

            <div class="faq__item-content faq__item-content--hidden">
              <h3>Из&nbsp;чего складывается стоимость обучения?</h3>
              <p>
                Стоимость обучения рассчитывается для каждого клиента индивидуально. Цена обучения
                складывается из&nbsp;количества учебных часов, часов работы методиста над
                разработкой индивидуальной учебной программы и&nbsp;подготовки учебных материалов.
                Количество слушателей не&nbsp;влияет на&nbsp;стоимость обучения.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <button class="faq__item-btn">
              Как будет проходить обучение? Где и&nbsp;в&nbsp;какое время будут учиться мои
              сотрудники?
            </button>

            <div class="faq__item-content faq__item-content--hidden">
              <h3>
                Как будет проходить обучение? Где и&nbsp;в&nbsp;какое время будут учиться мои
                сотрудники?
              </h3>
              <p>
                Обучение проводится в&nbsp;формате живых лекций. После каждого занятия слушатели
                получают домашнее задание, которое выполняют в&nbsp;свободное время,
                в&nbsp;интервалах между последующими занятиями. Время и&nbsp;место проведения
                обучения&nbsp;&mdash; согласуется. Наши преподаватели могут провести лекции как
                на&nbsp;вашей площадке, так и&nbsp;на&nbsp;площадке нашей школы, по&nbsp;адресу:
                Спб, м. Горьковская, Кронверкский пр-т 23. Занятия могут проводится 1-2 раза
                в&nbsp;неделю, либо в&nbsp;формате интенсива, в&nbsp;течение 2-3 рабочих дней,
                в&nbsp;зависимости от&nbsp;количества учебных часов, заложенных в&nbsp;программе
                и&nbsp;пожеланий заказчика.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <button class="faq__item-btn">
              Какие знания и&nbsp;навыки получат мои сотрудники?
            </button>

            <div class="faq__item-content faq__item-content--hidden">
              <h3>
                Какие знания и&nbsp;навыки получат мои сотрудники?
              </h3>
              <p>
                Методисты Epic Skills разрабатывают индивидуальные обучающие программы с&nbsp;учетом
                уровня подготовки сотрудников, специфики бизнеса и&nbsp;запроса клиента. После
                обучения слушатели либо повышают свою квалификацию в&nbsp;сфере digital
                (веб-разработка, веб-дизайн, интернет маркетинг), либо получают новые навыки,
                осваивают актуальные инструменты digital, учатся использовать их&nbsp;в&nbsp;работе.
                В&nbsp;рамках обучения, возможно работать на&nbsp;своем проекте, это позволяет сразу
                применя полученные знания на&nbsp;практике.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <button class="faq__item-btn">Какие гарантии дает Epic Skills?</button>

            <div class="faq__item-content faq__item-content--hidden">
              <h3>
                Какие гарантии дает Epic Skills?
              </h3>
              <p>
                Мы&nbsp;гарантируем, что ваши сотрудники получат актуальные знания в&nbsp;сфере
                digital. Все наши преподаватели являются действующими специалистами ведущих агентств
                и&nbsp;студий Санкт-Петербурга. Мы&nbsp;гарантируем, проведение занятий
                в&nbsp;полном объеме, вне зависимости от&nbsp;форс-мажоров, переносов занятий
                и&nbsp;т.д. Все эти моменты согласуются с&nbsp;заказчиком, расписание занятий может
                быть скорректировано в&nbsp;ходе обучения. Мы&nbsp;гарантируем не разглашение
                коммерческой информации в&nbsp;случае, если в&nbsp;рамках обучения вы&nbsp;будет
                работать на&nbsp;своем проекте.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <button class="faq__item-btn">
              Какие документы получат мои сотрудники после обучения?
            </button>

            <div class="faq__item-content faq__item-content--hidden">
              <h3>
                Какие документы получат мои сотрудники после обучения?
              </h3>
              <p>
                После обучения сотрудники вашей компании получат сертификаты слушателя,
                в&nbsp;котором будет указано, количество учебных часов и&nbsp;список компетенций,
                которые приобрели ваши сотрудники в&nbsp;ходе обучения. Epic Skills является одной
                из&nbsp;ведущих офлайн школ Санкт-Петербурга, где готовят специалистов в&nbsp;сфере
                digital, наши сертификаты принимаются в&nbsp;агентствах и&nbsp;студиях Петербурга.
                Кроме того, после обучения мы предоставляем слушателям все учебные материалы, чтобы
                они могли к&nbsp;ним возвращаться. Преподаватели, так&nbsp;же остаются с&nbsp;вами
                на&nbsp;связи.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
