<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header__inner">
        <div class="page-header__logo">
          <img src="img/epic_logo.svg" alt="Epic Skills" />
        </div>
        <span class="page-header__address">
          Санкт-Петербург, Кронверкский проспект, д. 23
        </span>
        <a class="page-header__phone" href="tel:+78124149680">8 (812) 414-96-80</a>
        <a class="page-header__mail" href="mailto:info@epixx.ru">info@epixx.ru</a>
        <a class="page-header__link" href="#programm">ПРОГРАММЫ ОБУЧЕНИЯ</a>
        <a href="#form">СВЯЗАТЬСЯ</a>
      </div>
    </div>
  </div>
</header>
