<div class="organizations">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="organizations__title">
          Организация обучения
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div class="organizations__item">
          <h3 class="organizations__item-title">Место и время</h3>
          <p class="organizations__item-text">
            Ваш офис или офис Epic Skills
            <br />на&nbsp;Петроградской; как рабочее время, <br />так и&nbsp;вечернее/выходные дни
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="organizations__item">
          <h3 class="organizations__item-title">Обучающие материалы</h3>
          <p class="organizations__item-text">
            Слушатели получают все материалы
            <br />и&nbsp;видеозаписи занятий
          </p>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div class="organizations__item">
          <h3 class="organizations__item-title">Обратная связь</h3>
          <p class="organizations__item-text">
            Преподаватели отвечают на&nbsp;вопросы,
            <br />а&nbsp;закреплённый за&nbsp;учащимся тьютор <br />проверяет домашние задания
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="organizations__item">
          <h3 class="organizations__item-title">Поддержка после обучения</h3>
          <p class="organizations__item-text">
            Преподаватели остаются на&nbsp;связи и&nbsp;могут <br />проконсультировать
            по&nbsp;вашему проекту
          </p>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
