.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: $trs;
  box-shadow: none;
  border: 0;
  background: $violet;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  // line-height: 20px;
  /* or 133% */
  letter-spacing: 0.1em;
  line-height: 48px;
  height: 48px;

  /* white */
  color: #ffffff;
  transition: 300ms ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:hover,
  &.hover {
    color: #ffffff;
    background: #80279e;
    transition: 300ms ease-in-out;
    text-decoration: none;
  }

  &:active,
  &.active {
    color: #ffffff;
    background: #a3189d;
    transition: 300ms ease-in-out;
  }

  &:disabled,
  &.disabled {
    color: #ffffff;
    background: #b3b3b3;
    transition: 300ms ease-in-out;
  }
}
