<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="partners__title">
          У нас обучаются сотрудники компаний
        </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 partners__gallery">
        <div><img src="img/gazprom.png" alt="Газпром"></div>
        <div><img src="img/rive-gauche-logo.png" alt="Рив Гош"></div>
        <div><img src="img/gorbilet-logo.png" alt="Горбилет"></div>
        <div><img src="img/ppf-re-russia-blue.png" alt="Real Estate Russia"></div>
        <div><img src="img/freedom-logo.png" alt="Freedom"></div>
        <div><img src="img/sfera.png" alt="Sfera.fm"></div>
        <div><img src="img/semrush.png" alt="Semrush"></div>
        <div><img src="img/tpv.png" alt="TPV"></div>
        <div><img src="img/petrovich.png" alt="Петрович"></div>
      </div>
    </div>
  </div>
</div>
