<div class="programm" id="#programm">
  <div class="container">
    <div class="row">
      <h2 class="programm__title">
        Примеры программ обучения
      </h2>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="programm__item">
          <button class="programm__modal-btn" data-url="data/marketing.json">
            Интернет-маркетинг
          </button>
          <div class="programm__modal">
            <div class="programm__modal-head">
              <h3 class="programm__modal-title"></h3>
              <button class="programm__modal-close"></button>
            </div>

            <div class="programm__modal-content"></div>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="programm__item">
          <button class="programm__modal-btn" data-url="data/bizness.json">
            Ведение бизнес-аккаунтов
          </button>
          <div class="programm__modal">
            <div class="programm__modal-head">
              <h3 class="programm__modal-title"></h3>
              <button class="programm__modal-close"></button>
            </div>

            <div class="programm__modal-content"></div>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="programm__item">
          <button class="programm__modal-btn" data-url="data/html.json">HTML-вёрстка</button>
          <div class="programm__modal">
            <div class="programm__modal-head">
              <h3 class="programm__modal-title"></h3>
              <button class="programm__modal-close"></button>
            </div>

            <div class="programm__modal-content"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 programm__btn-block">
        <a href="#form" class="btn programm__btn">
          ЗАКАЗАТЬ ПРОГРАММУ
        </a>
      </div>
    </div>
  </div>
</div>
