<div class="programm" id="programm">
  <div class="container">
    <div class="row">
      <h2 class="programm__title">
        Примеры программ обучения
      </h2>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="programm__item">
          <button class="programm__modal-btn" data-url="data/marketing.json">
            Интернет-маркетинг
          </button>
          <div class="programm__modal programm__modal--hidden">
            <div class="programm__modal-head">
              <h3 class="programm__modal-title">Интернет-маркетинг</h3>
              <button class="programm__modal-close">
                <svg>
                  <use xlink:href="#close"></use>
                </svg>
              </button>
            </div>

            <div class="programm__modal-content">
              <h3>Digital-стратегия</h3>
              <p>
                Виды стратегий, коммуникационная digital-стратегия. <br />
                Виды задач для разных типов<br />
                бизнеса. Анализ целевой аудитории: сегментирование, исследование. <br />
                Работа с продуктом/услугой: поиск преимуществ и рекламных сообщений. <br />
                Составление коммуникационного плана.
              </p>
              <h3>Веб-аналитика</h3>
              <p>
                Введение в веб-аналитику.<br />
                Основные принципы веб-анализа.<br />
                Методология настройки анализа данных.<br />
                Обзор интерфейса и отчетов Google Analytics.<br />
                Обзор интерфейса и отчетов Яндекс.Метрики.<br />
                Установка, настройка, проверка работы систем веб-аналитики на сайте.
              </p>
              <h3>Поисковая оптимизация (SEO)</h3>
              <p>
                Обзор поисковых систем и основных принципов ранжирования.<br />
                Роль и функции SEO-специалиста.<br />
                Типология сайтов.<br />
                Состав работ по продвижению сайта.<br />
                Сбор семантики с учетом особенностей типов сайтов.
              </p>
              <h3>Контекстная реклама</h3>
              <p>
                Понятие контекстной рекламы, принципы работы.<br />
                Структура рекламных объявлений, правила и особенности составления.<br />
                Обзор системы Яндекс.Директ.<br />
                Google Adwords. Настройка и запуск рекламной кампании.
              </p>
              <h3>Медийная реклама</h3>
              <p>
                Рынок и тренды.<br />
                Форматы и задачи медийной рекламы.<br />
                Анализ эффективности.<br />
                Профессиональные системы управления статистикой и анализа эффективности.<br />
                Медиапланирование: бриф, подбор площадок. Real Time Bidding и Programmatic
                Buying.<br />
                Предпосылки развития, тренды, отличия и преимущества.<br />
                Игроки рынка.<br />
                Возможности настройки и оптимизации.<br />
                Обзор основных систем закупки рекламы.
              </p>
              <h3>Social Media Marketing (SMM)</h3>
              <p>
                Обзор социальных сетей, smm-стратегия.<br />
                Анализ целевой аудитории соцсетей, особенности продвижения в соцмедиа.<br />
                Обзор сервисов для работы в соцмедиа. Создание контента для соцсетей: креатив,
                механики активаций и подводные камни.<br />
                Оценка эффективности работы в соцмедиа: метрики эффективности, постановка KPI.<br />
                SMO и автоматизация. Продвижение в соцмедиа.<br />
                Поиск аудитории в соцмедиа.<br />
                Обзор основных рекламных инструментов.<br />
                Работа с рекламными сервисами.<br />
                Оценка эффективности.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="programm__item">
          <button class="programm__modal-btn" data-url="data/bizness.json">
            Ведение бизнес-аккаунтов
          </button>
          <div class="programm__modal programm__modal--hidden">
            <div class="programm__modal-head">
              <h3 class="programm__modal-title">Ведение бизнес-аккаунтов</h3>
              <button class="programm__modal-close">
                <svg>
                  <use xlink:href="#close"></use>
                </svg>
              </button>
            </div>

            <div class="programm__modal-content">
              <h3>Креативное мышление</h3>
              <h3>Контент. Введение</h3>
              <p>
                Контент-стратегия для социальных сетей <br />
                Типы контента и их отличия <br />
                Где и зачем распространять информацию <br />
                Отличия контента для разных каналов Аналитика, отслеживание эффективности
              </p>
              <h3>Текстовый контент</h3>
              <p>
                Написание текстов и редактура <br />
                Инструменты работы с текстом <br />
                Виды текстов, публикаций <br />
                Составление планов статей <br />
                Визуальная вёрстка <br />
              </p>
              <h3>Графический контент</h3>
              <p>
                Типы графического контента для соц.сетей. Особенности и форматы для разных площадок
                и типов размещения<br />
                Основы композиции, основы теории цвета<br />
                Дизайн для социальных сетей. Визуальное оформление сообществ. Оформление сообществ и
                постов (VK, Facebook, Instagram): основные элементы оформления. Как работать с
                изображениями.<br />
                Тренды и актуальные форматы: динамические обложки, motion-дизайн, интерактивный
                контент, AR и другие тренды в графическом оформлении. Тренды Инстаграмм на 2019.<br />
                Мобильная фотография. Приёмы и лайфхаки.<br />
                Обзор программ и сервисов для редактирования изображений, нанесения текстов и лого,
                создания Stories. Использование мобильного телефона для создания графического
                контента<br />
              </p>
              <h3>Видео-контент</h3>
              <p>
                Особенности видео контента для соц.сетей<br />
                Какие задачи решает видео-контент<br />

                Тренды, актуальные форматы - Что сейчас работает?<br />
                Типы видеоконтента для соц.сетей<br />
                Технические вопросы: форматы, размеры, продолжительность<br />
                Создание анимации в AfterEffects.<br />
                Инструменты для работы с видео: интерфейсы, задачи, возможности
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="programm__item">
          <button class="programm__modal-btn" data-url="data/html.json">HTML-вёрстка</button>
          <div class="programm__modal programm__modal--hidden">
            <div class="programm__modal-head">
              <h3 class="programm__modal-title">HTML-вёрстка</h3>
              <button class="programm__modal-close">
                <svg>
                  <use xlink:href="#close"></use>
                </svg>
              </button>
            </div>

            <div class="programm__modal-content">
              <ol>
                <li>
                  Введение. Основы HTML5. Доступность, семантика и инструменты веб-разработчика
                </li>
                <li>Контроль версий и Git. Знакомство с NPM</li>
                <li>Каскадные таблицы стилей. Блочная модель документа</li>
                <li>Адаптивная графика, SVG</li>
                <li>Flexbox и модульные сетки</li>
                <li>Адаптивная и резиновая верстка</li>
                <li>Декоративные элементы</li>
                <li>Интерактивные и анимированные элементы. Плавность анимации</li>
                <li>Формы и где они обитают</li>
                <li>Знакомство с JS</li>
                <li>JS: приведение типов, операторы, циклы, события и работа с DOM</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 programm__btn-block">
        <a href="#form" class="btn programm__btn">
          ЗАКАЗАТЬ ПРОГРАММУ
        </a>
      </div>
    </div>
  </div>
</div>
