<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a href="https://epixx.ru/" class="page-footer__logo">
          <img src="img/epic_logo.svg" alt="Epic Skills" />
        </a>
        <a href="https://epixx.ru/about" class="page-footer__about-link">О школе</a>

        <ul class="page-footer__socials">
          <li class="page-footer__socials-item">
            <a href="#">
              <svg>
                <use xlink:href="#fb"></use>
              </svg>
            </a>
          </li>
          <li class="page-footer__socials-item">
            <a href="#">
              <svg>
                <use xlink:href="#vk"></use>
              </svg>
            </a>
          </li>
          <li class="page-footer__socials-item">
            <a href="#">
              <svg>
                <use xlink:href="#inst"></use>
              </svg>
            </a>
          </li>
          <li class="page-footer__socials-item">
            <a href="#">
              <svg>
                <use xlink:href="#yt"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <a class="page-footer__phone" href="tel:+78124149680">8 (812) 414-96-80</a>
        <a class="page-footer__mail" href="mailto:info@epixx.ru">info@epixx.ru</a>
        <span class="page-footer__address">
          м. Горьковская, Кронверкский проспект, 23
        </span>
      </div>
      <div class="col-3">
        <h3 class="page-footer__nav-title">Наши курсы:</h3>
        <ul class="page-footer__nav">
          <li>
            <a href="">Интернет-маркетинг</a>
          </li>
          <li>
            <a href="">HTML-вёрстка</a>
          </li>
          <li>
            <a href="">HTML-вёрстка PRO</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="page-footer__nav page-footer__nav--2">
          <li>
            <a href="">Веб-дизайн</a>
          </li>
          <li>
            <a href="">Продвинутый веб-дизайн (UX/Ui)</a>
          </li>
          <li>
            <a href="">Управление digital-проектами</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
