<div class="contacts">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contacts__title">
          Контакты
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-3 contacts__profile">
        <div class="contacts__profile-img">
          <img src="img/photo.png" alt="Екатерина Кудакова" />
        </div>
        <h3 class="contacts__profile-name">Екатерина Кудакова</h3>
        <p class="contacts__profile-role">аккаунт-менеджер Epic Skills</p>
        <a href="tel:+78124149680">8 (812) 414-96-80</a>
        <a href="mailto:">info@epixx.ru</a>
      </div>
      <div class="col-7">
        <div class="contacts__map"></div>
        <div class="contacts__address">
          м. Горьковская, 
          <br>Кронверкский проспект, 23
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
