<div class="form" id="form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="form__title">
          Как заказать индивидуальную программу
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-7">
            <div class="form__step form__step-1">
              <span class="form__step-number">
                1
              </span>
              <h3>
                Оставьте заявку на обучение
              </h3>
              <p class="form__desc">
                Менеджер свяжется с вами в рабочие дни с 11:00 до 19:00 и проконсультирует по
                составлению программы.
              </p>

              <form class="form-block" id="formBlock">
                <div class="form-block__row">
                  <div class="form-block__item">
                    <label for="name">Ваше имя</label> 
                    <input id="name" class="input" type="text" name="name" required/>
                  </div>

                  <div class="form-block__item">
                    <label for="">Направление обучения</label>

                    <select placeholder="Выберите вариант из списка" class="input js-choice" name="" id="" required>
                      <option disabled selected>Выберите вариант из списка</option>
                      <option value="веб-разработка">веб-разработка</option>
                      <option value="веб-дизайн">веб-дизайн</option>
                      <option value="интернет-маркетинг">интернет-маркетинг</option>
                      <option value="проджект-менеджмент">проджект-менеджмент</option>
                      <option value="другое">другое</option>
                    </select>
                  </div>
                </div>

                <div class="form-block__row">
                  <div class="form-block__item">
                    <label for="phone">Телефон</label>
                    <input id="phone" class="input" type="tel" name="phone" placeholder="+7 (___)___-__-__" required />
                  </div>

                  <div class="form-block__item">
                    <label for="mail">Почта</label>
                    <input id="mail" class="input" type="mail" name="email" placeholder="info@yandex.com" required/>
                  </div>
                </div>

                <div class="form-block__item form-block__item--last">
                  <label for="desc">Уточнения о целях и задачах обучения</label>
                  <input id="desc" class="input" type="text" />
                </div>

                <p class="form-block__privacy">
                  Отправляя заявку, я соглашаюсь на <a href="#">обработку персональных данных</a>
                </p>
                <div class="form-block__btn-block">
                  <button class="btn form-block__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-5 form__right">
            <div class="form__step form__step-2">
              <span class="form__step-number">
                2
              </span>
              <h3>
                Заполните подробный бриф
              </h3>
              <p>
                Его вышлет вам менеджер после консультации. По этому брифу мы составим программу,
                которая решит задачи вашего бизнеса.
              </p>
            </div>
            <div class="form__step form__step-3">
              <span class="form__step-number">
                3
              </span>
              <h3>
                Согласуйте и оплатите программу
              </h3>
              {# <p>
                Его вышлет вам менеджер после консультации. По этому брифу мы составим программу,
                которая решит задачи вашего бизнеса.
              </p> #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
