<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-4 features__item">
        <img src="img/icon_1.png" alt="Индивидуальная программа" />

        <h3>Индивидуальная программа</h3>
        <p class="features__text">
          Разрабатываем программу 
          <br>с&nbsp;учётом целей вашего бизнеса
        </p>
      </div>

      <div class="col-4 features__item">
        <img src="img/icon_3.png" alt="Актуальные знания" />

        <h3>
          Актуальные знания
        </h3>
        <p class="features__text">
          Преподаватели&nbsp;&mdash; действующие практики 
          <br>ведущих агентств и&nbsp;студий
          <br>Санкт-Петербурга
        </p>
      </div>

      <div class="col-4 features__item">
        <img src="img/icon_2.png" alt="Поддержка после обучения" />

        <h3>
          Поддержка после обучения
        </h3>
        <p class="features__text">
          Преподаватели остаются на&nbsp;связи 
          <br>и&nbsp;могут проконсультировать 
          <br>по&nbsp;вашему проекту
        </p>
      </div>
    </div>
  </div>
</div>
