<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-4 features__item">
        <img src="" alt="" />
        <p class="features__text">
          Индивидуальные программы обучения с учётом особенностей вашего бизнеса
        </p>
      </div>

      <div class="col-4 features__item">
        <img src="" alt="" />
        <p class="features__text">
          Преподаватели — действующие практики ведущих агентств и студий Санкт-Петербурга
        </p>
      </div>

      <div class="col-4 features__item">
        <img src="" alt="" />
        <p class="features__text">
          Только актуальные знания и навыки, без «воды»
        </p>
      </div>
    </div>
  </div>
</div>
